{% extends 'front/front_base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='front/css/front_index.css') }}">
{% endblock %}

{% block body %}
    <div class="lg-container">
        <div id="carousel-example-generic" class="carousel slide index-banner" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {% for banner in banners %}
                {% if loop.first %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <a href="{{ banner.link_url }}">
                        <img class="image" src="{{ banner.image_url }}" alt="...">
                    </a>
                    </div>
            {% endfor %}
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="post-group">
            <ul class="post-group-head">
                {% if corrent_sort == 1 %}
                    <li class="active"><a href="{{ url_for('front.index',st=1,bd=board_id) }}">最新</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index',st=1,bd=board_id) }}">最新</a></li>
                {% endif %}
                {% if corrent_sort == 2 %}
                    <li class="active"><a href="{{ url_for('front.index',st=2,bd=board_id) }}">精华帖子</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index',st=2,bd=board_id) }}">精华帖子</a></li>
                {% endif %}
                {% if corrent_sort == 3 %}
                    <li class="active"><a href="{{ url_for('front.index',st=3,bd=board_id) }}">点赞最多</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index',st=3,bd=board_id) }}">点赞最多</a></li>
                {% endif %}
                {% if corrent_sort ==4 %}
                    <li class="active"><a href="{{ url_for('front.index',st=4,bd=board_id) }}">评论最多</a></li>
                {% else %}
                    <li><a href="{{ url_for('front.index',st=4,bd=board_id) }}">评论最多</a></li>
                {% endif %}



            </ul>
            <ul class="post-list-group">
                {% for post in posts %}
                    <li>
                        <div class="author-avatar-group">
                            <img src="{{ post.author.avatar or url_for('static',filename='common/images/ch2.png') }}" alt="">
                        </div>
                        <div class="post-info-group">
                            <p class="post-title">
                                <a href="{{ url_for('front.post_details',post_id=post.id) }}">{{ post.title }}</a>
                                {% if post.essence %}
                                    <span class="label label-danger">精华帖</span>
                                {% endif %}
                            </p>
                            
                            <p class="post-info">
                                <span>作者：{{ post.author.username }}</span>
                                <span>发表时间：{{ post.create_time }}</span>
                                <span>评论：{{ post.comments|length }} </span>
                                <span>阅读数：0 </span>
                            </p>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <div class="pagination-link">{{ pagination.links }}</div>
        </div>
    </div>
    <div class="sm-container" >
        <div style="padding-bottom: 10px">
            <a href="{{ url_for('front.apost') }}" class="btn btn-warning btn-block">发布帖子</a>
        </div>
        <div class="list-group">
            {% if board_id %}
                <a href="/" class="list-group-item">所有板块</a>
            {% else %}
                 <a href="/" class="list-group-item active">所有板块</a>
            {% endif %}

            {% for board in boards %}
                {% if board.id == board_id %}
                    <a href="{{ url_for('front.index',bd=board.id) }}" class="list-group-item active">{{ board.name }}</a>
                {% else %}
                    <a href="{{ url_for('front.index',bd=board.id) }}" class="list-group-item">{{ board.name }}</a>
                {% endif %}

            {% endfor %}

        </div>
    </div>
{% endblock %}